label {
	display: block;
	margin: 5px 0;
}
.error {
  color: red;
}
.success {
  color: green;
}
textarea, .bottom-margin {
  margin-bottom: 10px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
  
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
  
tr:nth-child(even) {
  background-color: #dddddd;
}

.index-image {
  height: 80px;
  width: 80px;
}